
#temp {
  font-size: 4rem;
}

.particles{
  position:fixed;
  top:0;
  right: 0;
  bottom: 0;
  left:0;
 
  /* z-index:-1; */
}
.graphSize{
  width:22em;
}

.navbar{
  background-color: rgba(255,255,255,0.3);
  z-index:2;
  
}

.glassweather {
  background-color: rgba(255,255,255,0.3);
  overflow: hidden;
  z-index:2;
}
.glassweather:after{
  content: '';
  box-shadow: inset 0 0 0 200px rgba(255,255,255,0.05);
  overflow: hidden;
  z-index:2;
}

/* clear sky */
.q01d{
  background: linear-gradient(130deg, #1ec0f0, #f0a11e);
  background-size: 400% 400%;
  animation: AnimationName 5s ease infinite;
  overflow: hidden;
  width:100%;
  top:0;
  right: 0;
  bottom: 0;
  left:0;
  z-index:-2;
}
  
/* few clouds with sun */
.q02d{
  background: linear-gradient(130deg, #f0b41e, #202fa3);
  background-size: 400% 400%;
  animation: AnimationName 5s ease infinite;
  overflow: hidden;
  top:0;
  right: 0;
  bottom: 0;
  left:0;
  z-index:-2;

}
/* scattered clouds */
.q03d{
  background: linear-gradient(130deg, #273df2, #b0b6ea, #8e8f9d);
  background-size: 600% 600%;
  animation: AnimationName 5s ease infinite;
  overflow: hidden;
  top:0;
  right: 0;
  bottom: 0;
  left:0;
  z-index:-2;
}

/* partly cloudly */
.q04d{
  width:100%;
  background: linear-gradient(130deg, #404043, #26a4c1, #304ce8);
  background-size: 600% 600%;
  animation: AnimationName 5s ease infinite;
  overflow: hidden;
  top:0;
  right: 0;
  bottom: 0;
  left:0;
  z-index:-2;
}
/* shower rain */
.q09d{
  background: linear-gradient(130deg, #0017d4, #4c5a5d, #306de8);
  background-size: 600% 600%;
  animation: AnimationName 5s ease infinite;
  overflow: hidden;
  top:0;
  right: 0;
  bottom: 0;
  left:0;
  z-index:-2;
}

/* rain */
.q10d{
  background: linear-gradient(130deg, #0017d4, #4c5a5d, #e8ab30);
  background-size: 600% 600%;
  animation: AnimationName 5s ease infinite;
  overflow: hidden;
  top:0;
  right: 0;
  bottom: 0;
  left:0;
  z-index:-2;
}

/* thunderstorm */
.q11d{
  background: linear-gradient(130deg, #001096, #f0f4f5, #250050);
  background-size: 600% 600%;
  animation: AnimationName 5s ease infinite;
  overflow: hidden;
  top:0;
  right: 0;
  bottom: 0;
  left:0;
  z-index:-2;
}

/* snow */
.q13d{
  background: linear-gradient(130deg, #3044e6, #93ccd9, #c1ce5c);
  background-size: 600% 600%;
  animation: AnimationName 5s ease infinite;
  overflow: hidden;
  top:0;
  right: 0;
  bottom: 0;
  left:0;
  z-index:-2;
}

/* mist */
.q50d{
  background: linear-gradient(to bottom right, #29b0fa 0%, #c7c7c7 100%);
  background-size: 400% 400%;
  animation: AnimationName 5s ease infinite;
  overflow: hidden;
  top:0;
  right: 0;
  bottom: 0;
  left:0;
  z-index:-2;
}

.q01n{
  background: linear-gradient(to bottom right, #000000 0%, #3437be 100%);
  background-size: 400% 400%;
  animation: AnimationName 5s ease infinite;
  overflow: hidden;
  top:0;
  right: 0;
  bottom: 0;
  left:0;
  z-index:-2;
}

.q02n{
  background: linear-gradient(to bottom right, #000000 0%, #3437be 100%);
  background-size: 400% 400%;
  animation: AnimationName 5s ease infinite;
  overflow: hidden;
  top:0;
  right: 0;
  bottom: 0;
  left:0;
  z-index:-2;
}

.q03n{
  background: linear-gradient(to bottom right, #000000 0%, #3437be 100%);
  background-size: 400% 400%;
  animation: AnimationName 5s ease infinite;
  overflow: hidden;
  top:0;
  right: 0;
  bottom: 0;
  left:0;
  z-index:-2;
}

.q04n{
  /* background-color: #1a29ffe0; */
  background: linear-gradient(to bottom right, #000000 0%, #3437be 100%);
  background-size: 400% 400%;
  animation: AnimationName 5s ease infinite;
  overflow: hidden;
  top:0;
  right: 0;
  bottom: 0;
  left:0;
  z-index:-2;
}

.q09n{
  background: linear-gradient(to bottom right, #000000 0%, #3437be 100%);
  background-size: 400% 400%;
  animation: AnimationName 5s ease infinite;
  overflow: hidden;
  top:0;
  right: 0;
  bottom: 0;
  left:0;
  z-index:-2;
}

.q10n{
  background: linear-gradient(to bottom right, #000000 0%, #3437be 100%);
  background-size: 400% 400%;
  animation: AnimationName 5s ease infinite;
  overflow: hidden;
  top:0;
  right: 0;
  bottom: 0;
  left:0;
  z-index:-2;
}

.q11n{
  background: linear-gradient(to bottom right, #000000 0%, #3437be 100%);
  background-size: 400% 400%;
  animation: AnimationName 5s ease infinite;
  overflow: hidden;
  top:0;
  right: 0;
  bottom: 0;
  left:0;
  z-index:-2;
}

.q13n{
  background: linear-gradient(to bottom right, #000000 0%, #3437be 100%);
  background-size: 400% 400%;
  animation: AnimationName 5s ease infinite;
  overflow: hidden;
  top:0;
  right: 0;
  bottom: 0;
  left:0;
  z-index:-2;
}

.q50n{
  background: linear-gradient(to bottom right, #000000 0%, #3437be 100%);
  background-size: 400% 400%;
  animation: AnimationName 5s ease infinite;
  overflow: hidden;
  top:0;
  right: 0;
  bottom: 0;
  left:0;
  z-index:-2;
}


@keyframes AnimationName { 
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

